body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FF600B; /* Main color */
    color: #fff;
    height: 2.5rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Accent color */
    font-weight: bold;
}

nav ul li a:hover {
    color: #3123C7; /* Accent hover effect */
}

/* Search container positioning */
.search-container {
    position: relative;
    max-width: 300px;
    margin: 0;
    margin-left: auto; /* Moves the search container further to the right */
}

/* Hero Section */

.hero {
    text-align: right;
    padding: 5rem 1rem;
    background-color: #e0e0e0;
    color: #3123C7; /* Accent color */
    border: solid 2px #08C189;
    background-image: url('/images/pexels2.jpeg');
    background-repeat: no-repeat;
    background-size: cover; /* Dopasowuje obraz do rozmiaru nagłówka */
    background-position: center;
}

.hero h2 {
    font-size: 2rem;
    margin: 0 auto; /* Wyśrodkowanie */
    display: inline-block; /* Dopasowanie szerokości tła do zawartości tekstu */
    color: #ffffff; /* Accent color */
    background-color: rgba(0, 0, 0, 0.6); /* Tło */
    padding: 0.5rem 1rem; /* Wewnętrzny odstęp dla lepszego wyglądu */
    border-radius: 5px; /* Zaokrąglenie rogów tła */
}

/* Interactive Map */
.interactive-map {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border: 2px solid #08C189;
    background-image: url('/images/mapa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    max-width: 600px;
    height: 300px;
    margin: 2rem auto;
    position: relative;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interactive-map:hover {
    transform: scale(1.05);
}

.interactive-map h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.interactive-map p {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}



/* Reviews */
.reviews {
    padding: 2rem;
    text-align: center;
}

.reviews .review-avatar {
    position: absolute; /* Umieść ikonę w lewym górnym rogu */
    top: 10px;
    left: 10px;
    width: 40px; /* Szerokość ikony */
    height: 40px; /* Wysokość ikony */
    border-radius: 50%; /* Zaokrąglij obrazek, aby był okrągły */
    border: 2px solid #08C189; /* Dodaj obramowanie pasujące do stylu recenzji */
    object-fit: cover; /* Dopasuj obrazek do proporcji */
}

.reviews h3 {
    color: #FF600B;
}

.reviews .review-cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.reviews .review {
    transition: transform 0.3s ease; /* Dodaj płynne przejście dla pojedynczego elementu */
}

.reviews .review:hover {
    transform: scale(1.05); /* Powiększ tylko ten element */
}

.reviews .review {
    background-color: #f9f9f9;
    border: 2px solid #08C189;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Aby można było łatwo pozycjonować elementy wewnętrzne */
    padding: 2rem 1rem 1rem 1rem; /* Dodaj miejsce na obrazek */
}

.reviews .review strong {
    color: black;
    display: block; /* Ustaw jako blok, aby zająć całą szerokość */
    margin-left: 60px; /* Dodaj margines, aby tekst nie nachodził na obrazek */
}

.reviews .review p {
    color: #3123C7;
    margin-left: 50px; /* Wyrównaj treść recenzji, aby była poniżej nazwy użytkownika */
}



/* Button Styles */
button {
    background-color: #FF600B;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3123C7;
}

/* Stylowanie samego inputa (pola wyszukiwania) */
#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Kontener z sugestiami, wyświetlający listę wyników */
.suggestions-box {
    position: absolute;
    top: 100%;  /* Pojawia się tuż poniżej inputa */
    left: 0;
    width: 100%;
    max-height: 200px; /* Maksymalna wysokość kontenera z wynikami */
    overflow-y: auto;  /* Dodajemy przewijanie, gdy lista jest długa */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none; /* Ukryta początkowo */
    z-index: 10; /* Zapewnia, że lista jest nad innymi elementami */
    color: black;
}

/* Stylowanie poszczególnych elementów w liście wyników */
.suggestions-box div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-box div:hover {
    background-color: #f0f0f0;
}

/* Styl dla kontenera paska wyszukiwania */
.search-container {
    position: relative;
    display: inline-block;
}




/* Popular Directions */
.popular-directions {
    padding: 2rem;
    text-align: center;
}

.popular-directions h3 {
    font-size: 1.75rem;
    color: #FF600B;
}

.popular-directions .cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.popular-directions .card {
    background-color: #f9f9f9;
    border: 2px solid #08C189;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.popular-directions .card:hover {
    transform: scale(1.05);
}

.popular-directions .card .image {
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popular-directions .card:hover .image {
    transform: scale(1.1);
}

.popular-directions .card.paris .image {
    background-image: url('/images/paris1.jpg');
}

.popular-directions .card.rome .image {
    background-image: url('/images/rzym1.jpg');
}

.popular-directions .card.madrid .image {
    background-image: url('/images/madryt6.jpg');
}

.popular-directions .card .description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popular-directions .card .description h4 {
    margin: 0.5rem 0 0;
    color: #3123C7;
}

.popular-directions .card .description p {
    margin: 0.5rem 0 0;
    color: #08C189;
}

.popular-directions .card a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FF600B; /* Main color */
    color: #fff;
    height: 2.5rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer ul li {
    display: inline;

}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer ul li a:hover {
    color: #3123C7; /* Accent hover effect */
}

